@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);

* {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.main {
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}

.top {
    padding: 12px;
    display: flex;
    align-items: center;
}


.icon {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 20%;
}

.name {
    margin: 0 10px;
    font-size: 40px;
}

h3 {
    margin: 0 10px;
}

.social-contents {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
}

.card > svg {
    font-size: 30px;
}

.card > div {
    margin: 0 0 0 10px;
}

.card > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 601px) {

    .main {
        width: 600px;
    }
}

@media screen and (min-width: 551px) {

    .social-contents {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        flex-basis: 230px;
    }
}
