---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Card from "@/components/Card.astro";
import CardContent from "@/components/CardContent.astro";
---

<Layout title="chun37">
  <header class="mx-auto sm:w-[600px] py-5">
    <div class="flex items-center">
      <Image
        src="/images/icon.jpg"
        alt="icon"
        width="100"
        height="100"
        class="rounded-2xl"
      />
      <h1 class="text-5xl mx-4 text-black dark:text-white">chun37</h1>
    </div>
  </header>
  <main class="mx-auto sm:w-[600px]">
    <div>
      <h2 class="text-2xl text-black dark:text-white">Contact</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 -mx-2">
        <Card href="https://twitter.com/frozen_chun">
          <i class="fab fa-twitter fa-fw text-[#1da1f2] text-3xl mx-2"></i>
          <CardContent title="Twitter" body="@frozen_chun" />
        </Card>
        <Card href="#">
          <i class="fab fa-discord fa-fw text-[#7289DA] text-3xl mx-2"></i>
          <CardContent title="Discord" body="chun37" />
        </Card>
        <Card href="https://imastodon.net/@chun">
          <i class="fab fa-mastodon fa-fw text-[#2b90d9] text-[30px] mx-2"></i>
          <CardContent title="Mastodon" body="@chun@imastodon.net" />
        </Card>
        <Card href="hhttps://keybase.io/chun37">
          <div class="w-[37.5px] text-center mx-2">
            <Image
              src="/images/keybase.png"
              alt="keybase"
              width="30"
              height="30"
              class="mx-auto"
            />
          </div>
          <CardContent title="Keybase" body="chun37" />
        </Card>
        <Card href="https://github.com/chun37">
          <i class="fab fa-github fa-fw text-3xl mx-2"></i>
          <CardContent title="GitHub" body="chun37" />
        </Card>
        <Card href="mailto:chun.jb.37@gmail.com">
          <i class="fas fa-envelope fa-fw text-3xl mx-2"></i>
          <CardContent title="Email" body="chun.jb.37@gmail.com" />
        </Card>
      </div>
    </div>
    <div>
      <h2 class="text-2xl mt-4 text-black dark:text-white">Blog</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 -mx-2">
        <Card href="http://chun37.hatenablog.com/">
          <div class="w-[37.5px] text-center mx-2">
            <Image
              src="/images/hatenablog.png"
              alt="hatenablog"
              width="30"
              height="30"
              class="mx-auto"
            />
          </div>
          <CardContent title="Hatena Blog" body="chun37" />
        </Card>
        <Card href="https://qiita.com/chun37">
          <div class="w-[37.5px] text-center mx-2">
            <Image
              src="/images/qiita.png"
              alt="qiita"
              width="30"
              height="30"
              class="mx-auto"
            />
          </div>
          <CardContent title="Qiita" body="chun37" />
        </Card>
      </div>
    </div>
  </main>
</Layout>

<style></style>
