---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div class="p-2">
  <a
    href={href}
    class="flex p-2 border border-gray-200 dark:border-gray-700 items-center rounded-lg shadow-sm hover:shadow-md dark:hover:shadow-blue-900 bg-white dark:bg-gray-800 text-black dark:text-white"
  >
    <slot />
  </a>
</div>
